

.listCocktail
{
    display:flex; flex-wrap: wrap;
    width: 75%;

    overflow: auto;
    height: 85vh;
}

.desc-Cocktail
{
    width: 25%;
    margin-right: 2rem;
    height: 85vh;

}


body, html {
    height: 100%;
}