

.listCocktail
{
    display:flex; flex-wrap: wrap;
    width: 70%;

    overflow: auto;
    height: auto;
}

.desc-Cocktail
{
    width: 30%;
    margin-right: 2rem;
    margin-left: 2rem;
    height: 85vh;
    margin-left: 2rem;

}


body, html {
    height: 100%;
}